.third-block {
  @include base-width;
  box-sizing: border-box;
  padding-right: 130px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: column;
}

.third-block__title_wrapper {
  @include line-wrapper;
}

.third-block__title {
  @include section-title;
  line-height: 1.2em;
  margin-right: 9px;
}

.third-block__title-line {
  @include grey-line;
}

.third-block__list {
  @include margin-padding-zero;
  display: flex;
  flex-direction: row;
  padding-left: 130px;
  list-style: none;
  column-gap: 10px;
}

.third-block__item {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.third-block__item-icon {
  fill: $font-main;
  margin-bottom: 41px;
}

.third-block__item-icon--active {
  fill: $blue
}


.third-block__item-line {
  position:relative;
  display: flex;
  align-items:center;
  width: 100%;
  height: 2px;
  background-color: $calculator-scale;
  margin-bottom: 49px;

  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    left: -1px;
    display: block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 2px solid $calculator-scale;
    background-color: $white;
    border-radius: 50%
  }
}

.third-block__item-line--first {

  &::before {
    width: 20px;
    height: 20px;
    border: 2px solid $blue;
    background-color: $white;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    left: 4px;
    display: block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 2px solid $blue;
    background-color: $blue;
    border-radius: 50%;
    z-index: 3;
  }
}

.third-block__item:last-child .third-block__item-line {
  background-color: $white;
}

// анимация линий

.third-block__list li {
  @for $var from 1 to 5 {
    $delay: ($var - 1) * 2 + 0.1;
    &:nth-child(#{$var}) .third-block__item-line-progress--active{
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 0%;
      background-color: $blue;
      animation: fill-bar 1.9s #{$delay + s} linear forwards;
    }
  }
}

@keyframes fill-bar {
  from {width: 0%;}
  to {width: 100%;}
}

.third-block__item-content {
  @include margin-padding-zero;
  font-weight: 700;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 118px;
}

.third-block__button-wrapper {
  @include line-wrapper;
  margin-left: 130px;
}

.third-block__button {
display: flex;
align-items:center;
justify-content: center;
width: 230px;
margin-left: 30px;
}

.third-block__button-line {
  @include grey-line;
}
