// Color
$white: #ffffff;
$font-main: #4a4d4e;
$font-header: rgba(74, 77, 78, 0.8);
$background-grey: #f9f9f9;
$footer-dark: #333333;
$blue: #0093e6;
$blue-icon: rgba(249, 249, 249, 0.5);
$icon-grey: #c4c4c4;
$line: #e5e5e5;
$calculator-scale: #b4b4b4;
$element-shadow: rgba(0, 0, 0, 0.06);



